/*------------------------Variables--------------------------*/
:root {
    --aquamarine-color: #3FC7A4;
    --gray-color: #e6e9ed;
    }
    /*-----------------------------------------------------------*/
    
    html,body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto Mono', monospace;
    }
    

    
    /*----------------------------Header---------------------*/
    .header {
        
        width: 100%;
        top: 0;
    }
    
    .social-network-links {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        background-color: var(--aquamarine-color);
    }
    
    
    .social-network-links ul {
        display: flex;
        flex-direction: row;
        padding: 0 30px;
        
    }
    
    .social-network-links ul li {
        list-style: none;
        padding: 0 10px;
    }
    
    .social-network-links img {
    
        height: 32px;
        width: auto;
        filter: invert();
    }
    
    .navbar-container {
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--gray-color);
        padding: 0 5%;
        margin: 0;   
    }
    
    .navbar-container img {
        height: 80px;
        width: auto;
    }
    
    .navbar-container a {
        color: black;
        font-size: 20px;
    }
/*----------------------------------------Entrada-----------------------------------------------------*/
.img-container {

    display: flex;
    justify-content: center;
}    

.img-container img {
        width: 90%;
        height: auto; 
    }

.entry-text-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
.entry-text {
    display: block;
    width: 70%;
    text-align: left;
    font-size: 1em;
}

.entry-text h1 {
    font-weight: bold;
    font-size: 40px;
    
}
.entry-text h3 {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
}

/*----------------------------------------Contacto--------------------------------------------*/

.contact-form {
    width: 100%;
    background-color: var(--gray-color);
}

.contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2,.8fr);
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    font-size: 1em;
}

.contact, .write {
    display: flex;
    align-items: center;
}

.contact-text a,
.write-text a {
    color: black;
}

.contact-img {
    margin:10px;
}

.contact-img img {
    height: 120px;
    width: auto;
}


    /*-----------------------------------Footer---------------------------------------------*/

    footer {
        position: absolute;
        background-color: #434a54;
        color: white;
        width: 100%;
        text-align: center;
        border-top: 20px solid var(--aquamarine-color);
        
    }

    /*---------------------------Responsive-----------------------------------------*/


    @media screen and (min-width:1441px) {
        .entry-text {
            font-size: 32px;
        }
    }

    @media screen and (max-width:425px) {
        .contact-wrapper {
                display: block;
            }
    }

    @media screen and (max-width:320px) {
    .navbar-container {
            display: block;
            text-align: center;
            
        }

            
 }